name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  quality-check:
    name: Quality Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        
      - name: Install just
        uses: extractions/setup-just@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      
      - name: Install cargo machete
        run: cargo install cargo-machete
      
      - name: Install cargo audit
        run: cargo install cargo-audit
      
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Run quality check
        run: just quality-check
